/* Futura font */
@import url("https://use.typekit.net/djq6mbs.css");

@font-face {
  font-family: "ServiceStation";
  src: url("assets/fonts/service-station-display/ServiceStation-Regular.woff")
    format("woff");
  font-weight: normal;
}

@font-face {
  font-family: "ServiceStation";
  src: url("assets/fonts/service-station-display/ServiceStation-RegularItalic.woff")
    format("woff");
  font-style: italic;
}

@font-face {
  font-family: "ServiceStation";
  src: url("assets/fonts/service-station-display/ServiceStation-Rough.woff")
    format("woff");
  font-weight: bold;
}

@font-face {
  font-family: "ServiceStation";
  src: url("assets/fonts/service-station-display/ServiceStation-RoughItalic.woff")
    format("woff");
  font-style: italic;
  font-weight: bold;
}

:root {
  box-sizing: border-box;

  --bg-color: #455483;
  --bg-color-dark: #252d44;
  --white: white;
  --gold: #fbdaaa;
  --brown: #704633;

  --base-unit: 12px;
  --base-unit-1: calc(1 * var(--base-unit));
  --base-unit-2: calc(2 * var(--base-unit));
  --base-unit-4: calc(4 * var(--base-unit));
  --base-unit-8: calc(8 * var(--base-unit));
  --base-unit-16: calc(16 * var(--base-unit));

  --font-primary: Futura, sans serif;
  --font-secondary: ServiceStation, sans serif;
}

html {
  scroll-behavior: smooth;
}

body {
  padding: 0px;
  margin: 0px;
  font-family: var(--font-primary);
  font-size: calc(1.5 * var(--base-unit));
  color: var(--white);
  background: var(--bg-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-transform: uppercase;
  font-family: var(--font-secondary);
}

h1 {
  font-size: var(--base-unit-8);
}

h2 {
  font-size: var(--base-unit-4);
}

h3 {
  font-size: var(--base-unit-2);
}

h4 {
  font-size: calc(1.5 * var(--base-unit-1));
}

h5,
h6 {
  font-size: var(--base-unit-1);
}

a {
  color: var(--white);
  font-weight: bold;
}

a:visited {
  opacity: 0.8;
  color: var(--white);
}

a:hover {
  color: var(--gold);
}

.full {
  min-height: 100vh;
}

nav {
  position: fixed;
  background: transparent;
  font-family: var(--font-secondary);
  width: 100%;
  z-index: 2500;
  opacity: 0.7;
  transition: opacity 0.2s ease-out;
}

nav:hover {
  opacity: 1;
}

nav ul {
  list-style: none;
  padding: 0px;
  margin: 0px;
  display: flex;
  justify-content: center;
}

nav li {
  margin: var(--base-unit-2) var(--base-unit-2);
}

nav a {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  transition: all 0.15s ease-in;
}

nav a:visited {
  color: white;
}

nav a:hover {
  color: var(--gold);
}

nav .ham {
  display: none;
}

nav .ham-icon {
  height: 50px;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  transition: transform 0.1s;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

nav .ham-icon-rotate.active {
  transform: rotate(45deg);
}

nav .ham-icon-line {
  fill: none;
  transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
  stroke: #e4e4e4;
  stroke-width: 5.5;
  stroke-linecap: round;
}

nav .ham-icon-extra .ham-icon-top {
  stroke-dasharray: 40 121;
}

nav .ham-icon-extra .ham-icon-bottom {
  stroke-dasharray: 40 121;
}

nav .ham-icon-extra.active .ham-icon-top {
  stroke-dashoffset: -68px;
}
nav .ham-icon-extra.active .ham-icon-bottom {
  stroke-dashoffset: -68px;
}

#home--inner {
  position: relative;
  min-height: 100vh;
  overflow: hidden;
  z-index: 2000;
  background: #423a36;
}

#society {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 1440px;
  height: 900px;
  background: var(--bg-color);
  box-shadow: 0px 0px 50px #fbdaaa;
}

#landing-page-layers {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

#landing-page-layers > img {
  position: absolute;
  z-index: 900;
}

#wood-panel {
  height: 700px;
}

#front-gate {
  height: 100%;
}

#people {
  bottom: 0px;
}

#closest-stalls {
}

#closer-stalls {
  height: 100%;
  top: -20px;
}

#further-stalls {
  top: 450px;
}

#furthest-stalls {
  top: 510px;
  left: 45.7%;
}

.abs-vertical-center {
  top: 50%;
  transform: translateY(-50%);
}

.abs-horizontal-center {
  left: 50%;
  transform: translateX(-50%);
}

.abs-top {
  top: 0px;
}

.abs-bottom {
  bottom: 0px;
}

#splash {
  position: relative;
  top: 120px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: var(--gold);
  font-family: var(--font-secondary);
  z-index: 1000;
}

#splash h1,
p {
  margin: var(--base-unit-1);
}

#splash p {
  font-size: var(--base-unit-4);
}

.home-scrolljack-container {
  z-index: 2000;
}

.home-scrolljack-container--inner {
  position: sticky;
  top: 0px;
  z-index: 2000;
}

#tracks img {
  margin-top: var(--base-unit-4);
  margin-bottom: var(--base-unit-2);
  margin-left: var(--base-unit-1);
  margin-right: var(--base-unit-1);
  height: 300px;
  cursor: pointer;
}

#tracks h2 {
  margin-bottom: var(--base-unit-1);
}

#tracks-booths {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, minmax(400px, auto));
}

#general-track-booth {
  grid-column: 1/2;
  grid-row: 1/2;
}

#emerging-track-booth {
  grid-column: 2/3;
  grid-row: 1/2;
}

.track-showcase {
  grid-column: 1/3;
  grid-row: 2/3;
}

.track h3,
h4 {
  text-align: center;
  font-family: var(--font-primary);
}

.btn {
  font-family: var(--font-primary);
  text-transform: uppercase;
  background: var(--gold);
  color: var(--brown);
  padding: var(--base-unit-1);
  border-radius: calc(0.5 * var(--base-unit));
  transition: all 0.15s ease-in;
}

.btn:hover {
  background: var(--brown);
  color: var(--gold);
}

a.btn {
  color: var(--brown);
  text-decoration: none;
}

.center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.center-horizontal {
  display: flex;
  justify-content: center;
  align-items: center;
}

section.center {
  margin: var(--base-unit-4) 25%;
}

/* IMAGES */
.lightbulb {
  position: absolute;
  transform: translate(-250%, -70%);
}

.ice-cream {
  position: absolute;
  transform: translate(100%, -60%);
}

.skewers {
  position: absolute;
  transform: translate(-250%, 0%);
}

.apples {
  position: absolute;
  transform: translate(100%, 0%);
}

.light-span {
  width: 100%;
  z-index: 0;
  position: absolute;
}

#secondLspan {
  transform: translateY(650px);
}

.faq {
  width: 100%;
  margin-bottom: var(--base-unit-2);
}

.faq .question {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;

  font-family: var(--font-primary);
  color: var(--white);
  font-weight: bold;
  text-transform: uppercase;
  background: #fff8e14d;
  padding: var(--base-unit-1) var(--base-unit-2);
  border-radius: var(--base-unit-2);
  cursor: pointer;
  border: none;
  width: 100%;
  z-index: 1000;
  text-align: left;
}

.faq .answer {
  position: relative;
  background: rgba(255, 248, 225, 0.1);
  border-radius: var(--base-unit-2);
  padding: var(--base-unit-2);
  padding-top: var(--base-unit-4);
  transform: translateY(calc(-1 * var(--base-unit-2)));
  z-index: 900;
  text-align: left;
}

.hide {
  display: none;
}

section#about {
  color: #2c3d6b;
}

svg#blob {
  z-index: -100;
  position: absolute;
  top: calc(100vh + 172px);
  left: 78px;
}

h2#about-header {
  font-size: 72px;
  position: absolute;
  top: calc(100vh + 220px);
  left: 440px;
}

p#about-body {
  font-size: 20px;
  position: absolute;
  top: calc(100vh + 350px);
  left: 93px;
}

footer {
  color: var(--white);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: var(--base-unit-4);
}

footer .socials ul {
  list-style: none;
  padding: 0px;
  margin: 0px;
  display: flex;
}

footer .socials li {
  margin: calc(0.25 * var(--base-unit-1));
  transition: transform 0.1s ease-out;
}

footer .socials li:hover {
  transform: scale(1.1);
}

footer .socials li img {
  height: calc(1.25 * var(--base-unit-2));
  width: auto;
}

.logo {
  font-size: var(--base-unit-4);
  display: flex;
  align-items: center;
}

.logo img {
  margin-right: var(--base-unit-1);
}

.upper-border {
  border-top: 4px solid black;
}

.justify-flex-end {
  justify-content: flex-end;
}

.pd-1 {
  padding: var(--base-unit-1);
}

  #about .blob .content::before {
    display: none;
  }

  #about .blob .content p::before {
    display: none;
  }

  #about .blob .content {
    top: 50%;
    left: 40%;
    transform: translate(-50%, -50%);
  }

  #about .blob .content p {
    width: 60vw;
  }
}

@media (max-width: 700px) {
  .track-prompt {
    display: none;
  }

  #tracks-booths {
    display: flex;
    flex-direction: column;
  }

  .track {
    display: block !important;
  }
}

@media (max-width: 600px) {
  :root {
    --base-unit: 10px;
  }

  nav {
    display: none;
  }

  section.center {
    margin: var(--base-unit-4) 40px;
  }

  #tracks img {
    height: 200px;
  }

  svg#blob {
    position: relative;
    transform: translateX(-25%);
  }

  #about .blob .content {
    left: 50%;
  }

  #about .blob .content p {
    width: 80vw;
  }
}

@media (max-width: 350px) {
  :root {
    --base-unit: 8px;
  }

  .track {
    margin: var(--base-unit-2);
  }

  svg#blob {
    position: relative;
    transform: translateX(-30%);
  }
}

.pd-bot-16 {
  padding-bottom: var(--base-unit-16);
}
